/* Write your code here. */
.each-ques {
  /* height: 30px; */
  list-style-type: none;
  width: 100%;
  border: 1px solid #d7dae6;
  border-radius: 16px;
  margin-bottom: 24px;
  /* padding: 26px; */
  padding-left: 10px;
  padding-right: 10px;
}

.ques-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.img {
  height: 20px;
  width: 20px;
}

.hori-line {
  border: 1px solid black;
}
.head {
  font-size: 15px;
}
